[submodule "spec/cpp/tests/libgtest"]
	path = spec/cpp/tests/libgtest
	url = https://github.com/google/googletest.git
[submodule "spec/cpp/grpc"]
	path = spec/cpp/grpc
	url = https://github.com/grpc/grpc
